# .gitignore for KoreForge.Settings
artifacts/
out/
**/bin/
!/bin/
**/obj/
*.user
.vs/
.idea/
*.suo
*.DS_Store
TestResults/
coverage-report/


# Prevent accidental commits of NuGet-extracted package content
/doc/KoreForge.*/
/doc/Event.*/
/docs/KoreForge.*/
/docs/Event.*/
